{{ define "main" }}
<h2> #{{.Title}} </h2>
{{ range first 10 (where .Pages ".Params.specialpage" "!=" true)}}
<article class="preview hoverable">
    <header class="scrim-{{.Params.header.scrim}}">
        <img src="{{.Params.header.image}}" alt="" loading="lazy">
        <div>
            <h1>{{.Title}}</h1>
            <time>{{.Date | time.Format ":date_long"}}</time>
        </div>
    </header>
    <p class="summary">
        {{.Summary}}
    </p>
    <ul class="action">
        <li><a class="opener" href="{{ .RelPermalink }}">{{ i18n "learn-more" }}</a></li>
        {{range .Params.actions}}
        <li><a href="{{.action}}"{{ if strings.HasPrefix .action "http" }} target="_blank" rel="noreferrer nofollow"{{ end }}>{{.label}}</a></li>
        {{end}}
    </ul>
</article>
{{ end }}
{{ end }}