:root {
    --main-bg-color: #009688;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
}

body>header {
    width: 100%;
    height: 32vw;
    min-height: 16em;
    max-height: 32em;
    padding-top: 2em;
    background-image: url(/assets/header.svg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    align-items: flex-start;
    margin: 2em 1em;
}

main>h1 {
    flex-basis: 100%;
    text-align: center;
    color: #ffffff;
}

article {
    max-width: 48em;
    background: #fafafa;
    box-shadow: 0 .5em 1em rgb(0 0 0 / 20%);
    border-radius: 1em;
    overflow: hidden;
}

article.preview {
    max-width: 40em;
}

.hoverable {
    transition: box-shadow, transform 0.2s ease-in-out;
    transform: scale(1);
}

.hoverable:hover {
    box-shadow: 0 1em 4em rgb(0 0 0 / 20%);
    transform: scale(1.01);
}

article>header {
    position: relative;
    background: red;
}

article>header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: ' ';
    height: 6em;
    width: 100%;
    display: block;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 66%, rgba(0, 0, 0, 1) 100%);
    opacity: .8;
}

article>header>img {
    width: 100%;
    min-height: 8em;
    background-color: #006064;
    margin: 0;
    display: block;
}

h1 {
    font-weight: 300;
    font-size: 2.5rem;
}

article>header>h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem 2rem;
    color: #ffffff;
    z-index: 1;
}

article>header>time {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem 2rem;
    color: #ffffff;
    z-index: 1;
}

article>p {
    margin: 2em;
}

article>ul {
    margin: 1em;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

ul.action {
    list-style: none;
    padding: 0;
}

ul.action>li {
    display: block;
}

ul.action>li>a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #E64A19;
    padding: 1em;
    border-radius: 0.5em;
}

ul.action>li>a:hover {
    background: rgb(230 74 25 / 10%);
}

footer {
    background: #222222;
}

footer>ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
}

footer>ul>li>a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.5em;
}