<header>
    <h1>
        <a href="/">Jonas Gerdes</a>
    </h1>
    <div class="subtitle">Softwareentwickler aus Hamburg</div>
    <nav>
        <ul>
            <li>
                <a href="https://github.com/JGerdes" target="_blank"><img src="/assets/icons/github.svg"
                        alt="J Gerdes auf GitHub" /></a>
            </li>
            <li>
                <a href="https://norden.social/@jgerdes" target="_blank"><img src="/assets/icons/mastodon.svg"
                        alt="J Gerdes auf Norden.Social (Mastodon)" /></a>
            </li>
            <li>
                <a href="https://twitter.com/Jonas_Gerdes" target="_blank"><img src="/assets/icons/twitter.svg"
                        alt="Jonas Gerdes auf Twitter" /></a>
            </li>
            <li>
                <a href="mailto:hello@jonasgerdes.com" target="_blank"><img src="/assets/icons/email.svg"
                        alt="Jonas Gerdes eine E-Mail senden" /></a>
            </li>
        </ul>
    </nav>
</header>