<header style="transform: translate3d(0px, 0px, 0px);">
    <a href="/" class="hexagon">
        Jonas Gerdes
    </a>
</header>
<div id="app-bar" style="box-shadow: rgba(0, 0, 0, 0) 0px 0px 1em; background: rgba(0, 150, 136, 0);">
    <div class="hamburger"></div>
    <div class="title" style="opacity: 0;">Jonas Gerdes</div>
</div>
<div id="loader"></div>
<div id="navigation" class="drawer">
    <div class="drawer__header">
        <div class="drawer__avatar"></div>
    </div>
    <ul>
        <li>
            <a href="/ueberMich"><span class="drawer__icon md-person"></span>Über mich</a>
        </li>
        <li>
            <a href="/projekte"><span class="drawer__icon md-dashboard"></span>Projekte</a>
        </li>
        <li>
            <a href="https://github.com/JGerdes" target="_blank"><span class="drawer__icon icon-github"></span>Auf
                GitHub</a>
        </li>
        <li>
            <a href="mailto:hello@jonasgerdes.com"><span class="drawer__icon md-email"></span>Schreib mir</a>
        </li>
    </ul>
    <footer>
        <a href="/datenschutz"><span class="drawer__icon md-vpn-key"></span>Datenschutzerklärung</a>
        <a href="/impressum"><span class="drawer__icon md-business"></span>Impressum</a>
        <a href="/kontakt"><span class="drawer__icon md-chat-bubble"></span>Kontakt</a>
    </footer>
</div>