<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="theme-color" content="#009688">
    {{ if isset .Params "short_summary" }}
    <meta name="description" content="{{.Params.short_summary}}">
    {{ else }}
    <meta name="description" content="Website von Jonas Gerdes, Softwareentwickler aus Hamburg.">
    {{ end }}

    <meta property="og:type" content="website">
    <meta property="og:title" content="Jonas Gerdes - {{.Title}}">
    {{ if isset .Params "short_summary" }}
    <meta property="og:description" content="{{.Params.short_summary}}">
    {{ else }}
    <meta property="og:description" content="Website von Jonas Gerdes, Softwareentwickler aus Hamburg.">   
    {{ end }}
    <meta property="og:url" content="http://jonasgerdes.com">
    {{ if isset .Params "header" }}
    <meta property="og:image" content="http://jonasgerdes.com{{.Params.header.image}}">
    {{ else }}
    <meta property="og:image" content="http://jonasgerdes.com/assets/images/og_default.png">
    {{ end }}
    <title>Jonas Gerdes - {{.Title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" type="text/css" href="assets/style.min.css"> -->
    {{ $style := resources.Get "main.css" | minify}}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
