{{ define "main" }}
<h1>{{.Title}}</h1>
{{ .Content }}
{{ range first 10 (where .Pages ".Params.specialpage" "!=" true)}}
<article class="preview hoverable">
    <header>
        <img src="{{.Params.header.image}}" loading="lazy">
        <h1 data-scrim="{{.Params.header.scrim}}">{{.Title}}</h1>
        <time>{{.Date | time.Format ":date_long"}}</time>
    </header>
    <p class="summary">
        {{.Summary}}
    </p>
    <ul class="action">
        <li><a class="opener" href="/{{.File.BaseFileName}}">Mehr erfahren</a></li>
        {{range .Params.actions}}
        <li><a href="{{.action}}">{{.label}}</a></li>
        {{end}}
    </ul>
</article>
{{ end }}
{{ end }}